<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <!-- Простой консольный аппендер -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) [%-40.40logger{10}] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.example.bankcards" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!--
    <logger name="org.springframework.core.env" level="TRACE"/>
    <logger name="org.springframework.boot.context.properties" level="TRACE"/>
    <logger name="org.springframework.security" level="DEBUG"/>
    -->
    <logger name="com.example.bankcards.service" level="TRACE" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>

